*.lst


jrecreate/8u33_old/*
!jrecreate/8u33_old/*.sh
!jrecreate/8u33_old/*.bat
jrecreate/8u33_new/*
!jrecreate/8u33_new/*.sh
!jrecreate/8u33_new/*.bat
jrecreate/8u6/*
!jrecreate/8u6/*.sh
!jrecreate/8u6/*.bat

# directories outside THIS save
us-122

combine
combine_try1

raspbian_jre
java_demos
jre_8u6
